.BoardField {
  background-color: #dddddd;
  width: 120px;
  height: 120px;
  &.black {
    background-color: #222222;
  }
  &.isClicked {
    background-color: rgba($color: chartreuse, $alpha: 0.5);
  }
  &.isPossibleMoveHighlight {
    background-color: rgba($color: darkgreen, $alpha: 0.5);
  }
}
