.Pawn {
  width: 120px;
  height: 120px;
  position: absolute;
  margin: auto;
  .fulfillment {
    background-color: #459;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 60px;
    > svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
